*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

$font-weights: (
  "regular": 400,
  "medium": 600,
  "bold": 800,
);

.disabled-text-selection {
  user-select: none;
  cursor: var(--aui-cursors-default);
}

.disabled-img-selection {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
