@mixin flex($flex, $JustifyContent, $alignItems) {
  display: $flex;
  justify-content: $JustifyContent;
  align-items: $alignItems;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexDirection($direction) {
  flex-direction: $direction;
}

@mixin d-flex() {
  display: flex;
  @content;
}

// same width and height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin ellipse() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @content;
}
