/* make the customizations */

// Success,Danger,Warning,Primary
$bp-color-primary: #1356d4; 
$bp-color-danger: #fc5959;
$bp-color-success: #56b056;
$bp-color-warning: #ffc107;

// Link Colors
$bp-color-link: #505050;
$bp-box-outline:#C6D7F5; 
$bp-color-link-hover:#F3F7FD;

// Font Colors
$bp-font-black:#00000066;
$bp-font-white:#fff;

// Background Colors
$bp-black:#000000;
$bp-white:#ffffff;
$bp-alice-blue:#f3f6fd
